In [1]:
2+2

4

In [85]:
list1=[]
list2=[2,4]
list3=["a",1,"b"]

In [4]:
print(list1)

[]

In [5]:
for i in range (len(list3)):
    print(list3[i])

a
1
b

In [86]:
list3.append("d")

In [87]:
del list3[0]

In [88]:
print(list3)

[1, 'b', 'd']

In [72]:
list3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [89]:
list3.pop(0)

1

In [91]:
list3.extend(['E','x','T','t'])

In [92]:
list3

['b', 'd', 'E', 'x', 'T', 't']

In [93]:
list3.sort()

In [94]:
list3

['E', 'T', 'b', 'd', 't', 'x']

In [95]:
list3.sort(key=str.lower)

In [96]:
list3

['b', 'd', 'E', 'T', 't', 'x']

In [99]:
list3.sort(reverse=True,key=str.lower)

In [100]:
list3

['x', 't', 'T', 'E', 'd', 'b']

In [101]:
list3.clear()

In [102]:
list3

[]

In [103]:
list3.extend([1,2,3])
print(list3)

[1, 2, 3]

In [104]:
list3.remove(1)
list3
#first 1 is removed

[2, 3]

In [105]:
list3.reverse()

In [106]:
list3

[3, 2]

In [107]:
list3.extend([1,2,3])

In [108]:
list3

[3, 2, 1, 2, 3]

In [109]:
del list3[1:2]

In [110]:
list3

[3, 1, 2, 3]

In [111]:
3 in list3

True

In [17]:
list4=[[1,2,3],[3,4,5],[7,6,8]]

In [18]:
list4.insert(1,[1,3])

In [19]:
print(list4)

[[1, 2, 3], [1, 3], [3, 4, 5], [7, 6, 8]]

In [3]:
a="praveen___"
b='''this is praveen
here to learn 
data science'''
print(a,'\n')
print(b,'\n')
print(a+b)

praveen___

this is praveen
here to learn
data science

praveen___this is praveen
here to learn
data science

In [20]:
list4[2]

[3, 4, 5]

In [21]:
list4[2][2]

5

In [16]:
a.split('v')

['pra', 'een']

In [67]:
dict1=dict({1:"praveen",2:"sumitt"})
print(dict1)

{1: 'praveen', 2: 'sumitt'}

In [18]:
dict1[3]="poonam"
dict1

{1: 'praveen', 2: 'sumitt', 3: 'poonam'}

In [19]:
dict1[3]

'poonam'

In [22]:
dict1.pop(1)

'praveen'

In [23]:
dict1

{2: 'sumitt', 3: 'poonam'}

In [26]:
for k ,v in dict1.items():
    print(k ,":", v)

2 : sumitt
3 : poonam

In [27]:
dict1.items()

dict_items([(2, 'sumitt'), (3, 'poonam')])

In [28]:
dict1.values()

dict_values(['sumitt', 'poonam'])

In [29]:
dict1.keys()

dict_keys([2, 3])

In [31]:
#gpu many processor to process many data but for computing less data
#cpu lesser processor but faster computation.
dict1[3]

'poonam'

In [29]:
a1="he said"I will be back soon"but never returned."

SyntaxError: invalid syntax (<ipython-input-29-28980dda84e1>, line 1)

In [30]:
c1="he said\"I will be back soon\"but never returned."

In [31]:
c1

'he said"I will be back soon"but never returned.'

In [35]:
l1=[1,2,4,6]
l2=l1
l3=l1.copy()
l1.append(8)
print(l1,'\n',l2,'\n',l3,'\n')

[1, 2, 4, 6, 8]
 [1, 2, 4, 6, 8]
 [1, 2, 4, 6]

In [64]:
set1={0,1,2,3,4}
set2={3,4,5,6,7}
set3={8,9,0,1,2}
set4=set1.union(set2)#union stored in set4
set5=set1.update(set2)#this will also updaate the value of set1 nothing in set5
set6=set2.intersection_update(set3)#this will also update set2 nothing in set6

In [65]:
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7}

In [66]:
print(set2)
print(set3)
print(set4)
print(set5)
print(set6)

set()
{0, 1, 2, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7}
None
None

In [115]:
bool('None')

True

In [116]:
bool(None)

False

In [117]:
bool('')

False

In [118]:
bool(10>9)

True

In [119]:
bool("praveen")

True